@font-face
{
font-family: segoeFont;
src: url('../fontFiles/segoeui.ttf'),
     url('../fontFiles/segoeuib.ttf'),
     url('../fontFiles//segoeuil.ttf'),
     url('../fontFiles/segoeuisl.ttf'),
     url('../fontFiles//seguisb.ttf')
}
.container-1 {
    color: #000000;
    font-family: 'segoeFont';
    background: #FFFFFF;
}
.onboarding-template {
    font-size: 14px;
    line-height: 1.5;
}
.onboarding-heading {
    margin-top: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e1e4e8;
}
.onboarding-heading-text {
    font-size: 18px;
    line-height: 24px;
    color: #323130;
    margin-left: 63px;
}
.onboarding-heading-create {
    font-size: 10px;
    line-height: 14px;
    color: #605E5C;
    margin-left: 63px;
}
.onboarding-form {
    margin-left: 63px;
}
.tab-list {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    margin-top: 25px;
    color: #323130;
}
.tab {
    margin-right: 25px;
}
.underline {
    padding-bottom: 8px;
    box-shadow: inset 0px -2px 0px #0078D4;
}
.tab-text, .tab-image {
    vertical-align: middle;
}
.tab-image {
    margin-right: 8px;
    width: 16px;
    height: 15px;
}
.client-id, .webhook-url {
    margin-bottom: 20px;
}
.margin-bottom-on-error {
    margin-bottom: 50px;
}
.subHead{
    font-size: 16px!important;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex: 1 1 auto;
}
label {
    font-size: 13px;
    line-height: 18px;
}
dd {
    margin-left: 0;
}
.input-text {
    margin-bottom: 6px;
    margin-top: 6px;;
    width: 440px;
    max-width: 100%;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 12px;
    color: #24292e;
    vertical-align: middle;
    border: 1px solid #e1e4e8;
    border-radius: 2px;
    height: 24px;
    outline: none;
}
.input-text:focus {
    background-color: #fff;
    border-color: #0366d6;
    outline: none;
}
.note {
    font-size: 13px;
    line-height: 18px;
    margin: 0px 0 2px;
    font: small-caption;
    color: #605E5C;
    white-space: break-spaces;
}
.repo-permission-item, .org-permission-item, .user-permission-item {
    padding-bottom: 12px!important;
}
.tableobject {
    display: table;
    width: 777px;
}
.input-access {
    display: table;
    width: 100%;
}
.tableobject-cell-primary ,.tableobject-cell-secondary, .tableobject-cell-intermediate, .input-access-tick, .input-access-text {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 13px;
    line-height: 18px;
}
.tableobject-cell-primary {
    width: 78%;
}
.tableobject-cell-intermediate {
    width: 2%;
    color: #323130;
    padding-right: 13px;
}
.tableobject-cell-secondary {
    width: 20%;
}
.selectmenu-button-text {
    float: left;
    font-size: 13px;
    font-weight: 400;
}
.info-img {
    vertical-align: text-bottom;
}
.down-img {
    width: 11.02px;
    height: 10.08px;
    float: right;
    text-align: center;
    padding-top: 5px;
}
.select-menu-header-text {
    font-size: 13px;
    font-weight: 400;
    color: #323130;
    vertical-align: middle;
    padding-left: 2px;
}
.cross-img-button {
    border: none;
    background-color: #fff;
    vertical-align: middle;
    float: right;
    padding-top: 4px;
}
.input-access-tick {
    width: 20%;
}
.input-access-text{
    width: 80%;
    color: #323130;
}
.input-mandatory {
    color:#c24e00;
    border-color: #f66a0a;
    border-radius: 2px;
    border: 1px solid;
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    margin-right: 7px;
}
.basic-details, .user-permissions, .organization-permissions, .repository-permissions {
    margin-top: 39px;
}
.user-permissions-description {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 31px;
    width: 777px;
}
.buttons {
    margin-top: 70px;
    border-top: 1px solid;
    border-color: #e1e4e8;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 19px;
}
.buttons-position {
    margin-top: 400px;
}
.create-configuration{
    margin-top: 19px;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    color: #fff;
    background: #0078D4;
    border-radius: 2px;
    width: 162px;
    height: 24px;
}
.create-configuration-text {
    padding-left: 15px;
}
.previous-button, .next-button {
    margin-top: 19px;
    margin-left: 8px;
    background: #FFFFFF;
    border: 1px solid #8A8886;
    box-sizing: border-box;
    border-radius: 2px;
    height: 24px;
    width: 150px;
}
.button-image-prev, .button-image-next {
    position: relative;
    top:1px;
    width: 12px;
    height: 12px;
}
.button-image-prev {
    margin-right: 4px;
}
.button-image-next {
    margin-left: 4px;
}
.error {
    background-color: #ffeef0;
    border-color: #f97583;
    position: absolute;
    max-width: 450px;
    padding: 0px 8px;
    margin: 6px 0 0;
    font-size: 12px;
    font-weight: 400;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 24px;
    vertical-align: middle;
}
.user-not-authorized, .template-saved, .template-not-saved {
    height: 67px;
    width: 710px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 2px;
    margin-top: 9px;
    display: table;
    padding: 16px;
}
.user-not-authorized {
    background: #F0F6FF;
    margin-left: 63px;
}
.template-saved, .template-not-saved {
    background: #F8FFF0;
}
.user-not-authorized-image, .template-saved-image, .template-not-saved-image {
    display: table-cell;
    position: relative;
    top: 2px;
}
.user-not-authorized-message, .template-saved-message, .template-not-saved-message {
    display: table-cell;
    width: 96%
}
.user-not-authorized-link {
    text-decoration: none;
}