@font-face
{
font-family: segoeFont;
src: url('../fontFiles/segoeui.ttf'),
     url('../fontFiles/segoeuib.ttf'),
     url('../fontFiles//segoeuil.ttf'),
     url('../fontFiles/segoeuisl.ttf'),
     url('../fontFiles//seguisb.ttf')
}

@font-face
{
font-family: segoeFont;
src: url('../fontFiles/segoeui.eot'),
     url('../fontFiles/segoeuib.eot'),
     url('../fontFiles//segoeuil.eot'),
     url('../fontFiles/segoeuisl.eot'),
     url('../fontFiles//seguisb.eot')
}

@font-face
{
font-family: segoeFont;
src: url('../fontFiles/segoeui.svg'),
     url('../fontFiles/segoeuib.svg'),
     url('../fontFiles//segoeuil.svg'),
     url('../fontFiles/segoeuisl.svg'),
     url('../fontFiles//seguisb.svg')
}

@font-face
{
font-family: segoeFont;
src: url('../fontFiles/segoeui.woff'),
     url('../fontFiles/segoeuib.woff'),
     url('../fontFiles//segoeuil.woff'),
     url('../fontFiles/segoeuisl.woff'),
     url('../fontFiles//seguisb.woff')
}

@font-face
{
font-family: segoeFont;
src: url('../fontFiles/segoeui.woff2'),
     url('../fontFiles/segoeuib.woff2'),
     url('../fontFiles//segoeuil.woff2'),
     url('../fontFiles/segoeuisl.woff2'),
     url('../fontFiles//seguisb.woff2')
}

html, body{
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {  
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-height: 100%;
    color: #323130;
    background: #FFFFFF;
}
.full-size {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
} 
.outer {  
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 480px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}
.inner {
    margin-right: 50px;
    font-family: 'segoeFont';
}
.heading-container {
    display: flex;
    align-items: center;
}
.heading-image {
    width: 36px;
    margin-left: 58px;
    margin-top: 52px;
    height: 36px;
}
.heading-text {
    width: 116px;
    margin-left: 15px;
    margin-top: 68px;
}
.heading-app-text {
    height: 33px;
    margin-left: 55px;
    margin-top: 23px;
    font-size: 24px;
}
.form-items {
    display: flex;
    flex-direction: column;
    margin-left: 56px;
}
.formitem-tenant {
    margin-top: 30px;
    font-size: 14px;
}
.formitem-dropdown {
    align-items: center;
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 370px;
    margin-top: 8px;
}
.formitem-button-value {
    float: left;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.9);
    margin-left: 5px;
    font-family: 'segoeFont';
}
.formitem-dropdown-arrow {
    float: right;
    height: 12px;
    width: 12px;
    margin-top: 5px;
    margin-right: 5px;
}
.tenant-displayname {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'segoeFont';
}
.formitem-subscription {
    font-size: 14px;
    margin-top: 30px;
}
.select-menu-filter {
    font-family: 'segoeFont';
}
.select-menu-header {
    font-family: 'segoeFont';
}
.input-checkbox-label {
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
    font-family: 'segoeFont';
}
.input-checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.selected-subscriptions-list {
    margin-top: 20px;
    border-bottom: 1px solid #e1e4e8;
    width: 370px;
}
.heading-subscriptions-selected {
    font-size: 12px;
}
.subs-list {
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 10px;
}
.overflow {
    height: 80px;
    overflow-y: auto;
}
.subscription-item {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
}
.subscription-item-name {
    width: 90%;
}
.subscription-remove-button {
    border: 0;
    box-shadow: none;
    background-color: #ffffff;
}
.remove-button {
    float: right;
    font-size: 13px;
    font-weight: 400;
    color: #0078D4;
    font-family: 'segoeFont';
}
.link {
    color: #005a9e;
    cursor: pointer;
    outline: transparent;
    text-decoration: none;
}
.subscription-link {
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
}
.description-link {
    margin-top: 30px;
    margin-right: 49px;
    height: 34px;
    font-size: 12px;
    line-height: 14px;
}
.text-right {
    text-align: right;
}
.bolt-button {
    background-color: #0078d4;
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 35px;
    color: #ffffff;
    height: 35px;
    width: 70px;
    border: 0;
}
input, select, textarea, button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}  
* {
    box-sizing: inherit;
}
.errorMessage, .errMessage {
    color: #A4262C;
}
.successMessage, .errorMessage {
    padding-left: 55px;
    padding-top: 15px;
    display: table;
}
.successMessage {
    color: green;
}
.errMessage {
    display: table;
}
.success-img, .error-img, .err-img {
    position: relative;
    top: 5px;
    display: table-cell;
}
.success-msg, .error-msg, .err-msg {
    display: table-cell;
    padding-left: 10px;
    font-size: 13px;
}